<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>QuizOnline History</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{home/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link th:href="@{home/css/shop-homepage.css}" rel="stylesheet">
        <script th:src="@{admin/js/all.min.js}" crossorigin="anonymous"></script>

    </head>

    <body>

        <!-- Navigation -->

        <div th:replace="header::headerUser"/>


        <!-- Page Content -->
        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <form action="" id="searchForm" >
                        <div class="input-group">
                            <div class="col-md-7">
                                <small class="text-muted">Name</small>
                                <input id="txtSearchName" name="txtSearchName" class="form-control" placeholder="Name of quiz" value="">
                                <br>
                            </div>
                            <div class="col-md-5 justify-content-end">
                                <small class="text-dark">Subject</small>
                                <select class="custom-select" id="subject" >
                                    <option value="0">All</option>
                                    <option th:each="subject: ${subjects}" th:value="${subject.subject_Id}" th:text="${subject.subjectName}"></option>
                                </select>

                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center ">
                            <div clas="col-md-4">
                                <input class="btn btn-primary" type="submit" value="Search History">

                            </div>
                        </div>
                    </form>
                    <br>

                    <div class="card text-white bg-dark" id="showHistory">
                        <div class="card-header" >History</div>


                    </div>
                </div>
            </div>
            <!-- /.row -->


        </div>
        <!-- /.container -->

        <!-- Footer -->


        <!-- Bootstrap core JavaScript -->

        <script th:src="@{admin/js/jquery-3.5.1.slim.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{admin/js/scripts.js}"></script>
        <script th:src="@{js/jquery-1.12.0.min.js}"></script>
        <script th:src="@{js/moment.js}"></script>
        <script type="text/javascript">



            $.ajax({
                type: "GET",
                url: "api/quiz/history",

                async: false,
                success: function (data) {
                    if (data != null) {
                        data.forEach(function (item) {
                            var id = item.quiz_Id;
                            var total = item.total;
                            var timeDo = moment(item.dateCreate).format('DD/MM/YYYY-h:mm:ss a');
                            var quizcategory = item.quizcategory;
                            var subject = quizcategory.subject;
                            var status = (total >= 4) ? '<p class="font-italic text-success">PASSED</p>' : '<p class="font-italic text-danger">NOT PASSED</p>';
                            $('#showHistory').append('<div class="card-body">\n\
                            <a class="card-title" href="historydetail?id='+id+'"><p class="font-weight-bold text-primary">' + subject.subjectName + '/' + quizcategory.examName + '</p></a>\n\
                                <div class="row">\n\
                                        <div class="col-md-2">\n\
                                            <p class="font-weight-bold text-success">Date Take:</p>\n\
                                        </div>\n\
                                         <div class="col-md-3">\n\
                                            <p class="font-italic text-light">' + timeDo + '</p>\n\
                                        </div>\n\
                                        <div class="col-md-1">\n\
                                            <p class="font-weight-bold text-danger">Score:</p>\n\
                                        </div>\n\
                                         <div class="col-md-1">\n\
                                            <p class="font-italic text-light">' + total + '/10</p>\n\
                                        </div>\n\
                                        <div class="col-md-2">\n\
                                            <p class="font-weight-bold text-primary">Status:</p>\n\
                                        </div>\n\
                                         <div class="col-md-3">' + status + '</div>\n\
                                </div>\n\
                            <hr></div>');
                        });
                    }
                    else{
                        $('#showHistory').append('<p>No quiz found</p>');
                    }
                }
            });
        </script>


    </body>

</html>
