
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
    <head>
        <title>Sign In</title>
        <link th:href="@{home/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    </head>

    <!------ Include the above in your HEAD tag ---------->




    <br><br><br>
    <div th:replace="header::headerUser"/>
    <div class="container">

        <div class="row justify-content-md-center">

            <aside class="col-sm-5 ">


                <div class="card">
                    <article class="card-body">
                        <a th:href="@{/signup}" class="float-right btn btn-outline-primary">Sign up</a>
                        <h4 class="card-title mb-5 mt-2 float-left">Sign in</h4>


                        <form th:method="POST" id="loginForm" th:object="${login}   ">
                            <div class="form-group">
                                <input th:field="*{email}" class="form-control" placeholder="Email" type="text">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <input th:field="*{password}" class="form-control" placeholder="******" type="password">
                            </div> <!-- form-group// -->   

                            <hr>
                            <div id="message"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" id="btnLogin" class="btn btn-primary btn-block">Login</button>
                                    </div> <!-- form-group// -->
                                </div>
                            </div> <!-- .row// -->                                                                  
                        </form>
                    </article>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->

        </div> <!-- row.// -->

    </div> 
    <!--container end.//-->

    <br><br><br>

    <script th:src="@{home/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{home/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/jquery-1.12.0.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{js/jquery.validate.min.js}"></script>
    <script th:src="@{js/additional-methods.min.js}"></script>
    <script type="text/javascript">
                $().ready((function () {
                    $('#loginForm').validate({
                        rule: {

                        },
                        submitHandler: function (form) {
                            $.ajax({
                                type: form.method,
                                url: "api/user/authenticate",
                                data: $(form).serializeArray(),
                                success: function (response) {
                                    var data = response.data;
                                    if (response.errorCode !=null) {
                                        $('#message').addClass('p-3 mb-2 bg-danger text-white');
                                        $('#message').html(data);
                                    } else {
                                        localStorage.setItem("jwt",response.data.token);
                                        window.location.href = "/quiz";
                                    }

                                }
                            });
                        },

                    })
                })
                        )

    </script>
</html>
